<div class="todo-container">
    <h2>Liste des tâches pour la promo MICSI 2</h2>
  
    <div class="todo-input">
      <input [(ngModel)]="newTodoTitle" placeholder="Nouvelle tâche" />
      <button (click)="addTodo()">Ajouter</button>
    </div>
  
    <ul>
      <li *ngFor="let todo of todos">
        <span [class.completed]="todo.completed">{{ todo.title }}</span>
        <button (click)="markAsDone(todo.id)" [disabled]="todo.completed">
          ✅ Terminer
        </button>
        <button (click)="deleteTodo(todo.id)">❌ Supprimer</button>
      </li>
    </ul>
  </div>
  